.right {
    text-align: right;
    padding-top: 30px;
}


.center {
    text-align: center;
    padding-bottom: 40px;
}


h1 {
    padding-top: 20px;
    font-size: 60px;

}


p {
    text-align: left;
    font-size: 36px;
}



.d2 {

}
.d2 input, .d2 button {
  border: none;
  outline: none;
  border-radius: 3px;
}
.d2 input {
  width: 100%;
  height: 60px;
  background: #FFC0CB;
  padding-left: 15px;
  font-size: 46px;
  font-family: Bahnschrift;
}
.d2 button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 218px;
  right: 10px;
  background: #FF4500;
  cursor: pointer;
}
.d2 button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 30px;
  font-weight: bold;
}


a {
    color: #000000; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:hover {
    color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
   }
